/* Show it is fixed to the top */
/* body {
  min-height: 75rem;
} */
main {
  padding-top: 4.5rem;
}
.navbar-nav {
  gap: 15px;
  text-transform: uppercase;
}
.bg-dark {
  background-color: black !important;
}